################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RegeditPC/v15
/bin/Debug
/obj/Debug
/bin/Release
/obj/Release
*.user
*.suo
/Release
/Debug
*.log
